* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    position: relative;
}


/* element selector */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

@media screen and (max-width: 500px) {
    main {
        display: flexbox;
        padding: 0px;
    }
}

/* NAVIGATION BAR */
/* NAVIGATION BAR */
a {
    font-size: 20px;
  }
  
  nav {
    text-align: right;
    margin-left: auto 0px;
    margin-right: auto 0px;
  }
  
  nav a {
    transition: color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }
  
  .container-nav {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .container-ul {
    text-align: center;
    padding: 0px;
    background-color: #40c4ff;
    width: 400px;
    margin: 40px;
    border-radius: 10px;
    margin-right: 50px;
  }
  
  @media screen and (max-width: 500px) {
    .container-ul {
      margin-right: 40px;
    }
  
    a {
      font-size: 13px;
    }
  }
  
  .container-li {
    text-align: center;
    padding: 0px;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7px;
  }
  
  nav {
    background-color: #001C30;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
  }
  
  nav a:hover {
    background-color: #176B87;
    border-radius: 10px;
    font-weight: bold;
    color: #C1ECE4;
    transition: all 0.5s ease-in-out;
  }
  
  nav li {
    list-style-type: none;
    display: inline;
    justify-content: center;
  }
  
  /* Submenu CSS */
 
/* NAVIGATION BAR */
  /* NAVIGATION BAR */
a {
    font-size: 20px;
    margin: 15px;
  }
  
  nav {
    text-align: right;
    margin-left: auto;
    margin-right: auto;
  }
  
  nav a {
    transition: color 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
  }
  
  .container-nav {
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .container-ul {
    display: flex;
    text-align: center;
    padding: 0px;
    background-color: #001C30;
    width: 500px;
    margin: 40px;
    border-radius: 10px;
    margin-left: 250px;
  }

  .logo-nav {
    margin-top: 52px;
    margin-right: 230px;
  }

  span {
    color: #FFFFFF;
  }
  
  @media screen and (max-width: 500px) {
    .container-ul {
      margin-right: 0px;
      margin-left: 0px;
    }

    .logo-nav {
        margin-right: 0px;
        font-size: 10px;
    }
  
    a {
      font-size: 0px;
      margin: 2px;
    }

    nav a {
        font-size: 10px;
    }
  }
  
  .container-li {
    text-align: center;
    padding: 0px;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7px;
    position: relative; /* Tambahkan ini */
  }
  
  nav {
    background-color: #001C30;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
  }
  
  nav a:hover {
    background-color: #176B87;
    border-radius: 10px;
    font-weight: bold;
    color: #C1ECE4;
    transition: all 0.5s ease-in-out;
  }
  
  nav li {
    list-style-type: none;
    display: inline;
    justify-content: center;
  }
  
  /* Submenu CSS */
  .submenu {
    display: none;
    position: absolute;
    background-color: #40c4ff;
    padding: 0;
    border-radius: 0 0 10px 10px;
    margin-top: 0;
    z-index: 1;
    left: 0; /* Tambahkan ini */
  }
  
  .container-li:hover .submenu {
    display: block;
  }
  
  .submenu li {
    display: block;
    text-align: left;
  }
  
  .submenu li a {
    padding: 10px 20px;
    color: #ffffff;
    transition: 0.3s;
  }
  
  .submenu li a:hover {
    background-color: #176B87;
    color: #C1ECE4;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  /* NAVIGATION BAR */
  
/* NAVIGATION BAR */

footer {
    background-color: #001C30;
    padding: 20px;
    color: #ffffff;
    text-align: center;
}

main {
    overflow: auto;
    padding: 15px;
}

/* grouping selctor */
h2,
h3 {
    color: #40c4ff;
}

/* class selector */


.center-text {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.text-bold {
    font-weight: bold;
    color: #526D82;
}

.label {
    background-color: #40c4ff;
    color: #526D82;
    padding: 5px;
    border-radius: 5px;
}

/* LAYER 2 */


/* IMAGE HOVER */
.container {
    display: flex;
    width: 100%;
    height: 80%;
    margin: auto 0;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.konten {
    margin: 5px;
}

.konten img {
    width: 100%;
    object-fit: cover;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0007);
    border-radius: 5%;
}

.konten img:hover {
    outline: 10px solid #40c4ff;
    transition: 1s;
}

.konten:nth-child(1):hover {
    flex-basis: 20%;
    cursor: pointer;
}

.konten:nth-child(2):hover {
    flex-basis: 20%;
    cursor: pointer;
}

.konten:nth-child(3):hover {
    flex-basis: 20%;
    cursor: pointer;
}

.konten:nth-child(4):hover {
    flex-basis: 20%;
    cursor: pointer;
}

.konten:nth-child(5):hover {
    flex-basis: 20%;
    cursor: pointer;
}

.konten:nth-child(6):hover {
    flex-basis: 20%;
    cursor: pointer;
}

.konten:nth-child(7):hover {
    flex-basis: 20%;
    cursor: pointer;
}

.konten:nth-child(8):hover {
    flex-basis: 20%;
    cursor: pointer;
}


@media screen and (max-width: 500px) {
    .konten:nth-child(1):hover {
        flex-basis: 100%;
        cursor: pointer;
    }

    .konten:nth-child(2):hover {
        flex-basis: 100%;
        cursor: pointer;
    }

    .konten:nth-child(3):hover {
        flex-basis: 100%;
        cursor: pointer;
    }

    .konten:nth-child(4):hover {
        flex-basis: 100%;
        cursor: pointer;
    }

    .konten:nth-child(5):hover {
        flex-basis: 100%;
        cursor: pointer;
    }

    .konten:nth-child(6):hover {
        flex-basis: 100%;
        cursor: pointer;
    }

    .konten:nth-child(7):hover {
        flex-basis: 100%;
        cursor: pointer;
    }

    .konten:nth-child(8):hover {
        flex-basis: 100%;
        cursor: pointer;
    }
}


@media screen and (max-width: 500px) {
    footer {
        object-fit: cover;
    }

    .container-img-hover {
        width: 50px;
        height: 150px;
    }
}

/* IMAGE HOVER */


/* JUMBOTRON */
.jumbotron {
    background-color: #001C30;
    padding: 50px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.h1-jumbotron {
    letter-spacing: -5px;
    font-size: 80px;
    text-align: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #40c4ff;
    margin: 0px;
    position: relative;
    cursor: pointer;
}

.h1-jumbotron:hover {
    text-decoration: underline 3px;
    transition: all .5s ease-in-out;
}

.h1-jumbotron.clicked::after {
    width: 100%;
}

.h2-jumbotron {
    letter-spacing: 0px;
    text-align: left;
    margin-left: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 10px
}

.h3-jumbotron {
    text-align: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    margin-left: 5px;
    letter-spacing: 0px;
}

@media screen and (max-width:500px) {
    .jumbotron {
        padding: 25px;
        text-align: center;
    }

    .h1-jumbotron {
        font-size: 40px;
        text-align: center;
        margin: 0px;
        padding: 0px auto;
        justify-content: center;
        letter-spacing: 0px;
    }

    .h2-jumbotron {
        font-size: 35px;
        text-align: center;
        margin: 0px;
        margin-left: 0px;
        margin-right: 5px;
    }

    .h3-jumbotron {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 7px;
    }
}

/* JUMBOTRON */


/* ANIMASI TEXT TYPING */
.div-img {
    width: 80%;
}

.h1-typing {
    font-size: 30px;
    margin-right: 1000px;
    color: #526D82;
}

.typing-section {
    text-align: center;
    padding: 155px;
}

.typing-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    color: #526D82;
    font-size: 30px;
}

.typing-text .role {
    display: inline-block;
    border-right: .15em solid orange;
    animation: typing 3s steps(40, end);
    padding-left: 5px;
    animation-delay: 3s;
    color: #40c4ff;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@media screen and (min-width:768px) {
    .typing-text {
        font-size: 50px;
    }

}

@media screen and (max-width:500px) {
    .h1-typing {
        font-size: 10px;
        margin-right: 300px;
        color: #526D82;
    }

    .typing-text {
        font-size: 15px;
    }
}
/* ANIMASI TEXT TYPING */


/* ANIMASI LOGO */
.text-animasi-logo {
    text-align: center;
    font-family: Arial;
    color: #526D82;
    font-size: 30px;
}

.logo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.logo-container {
    margin: 10px;
}

.logo {
    width: 100px;
    height: 100px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.logo:hover {
    filter: grayscale(0%);
    cursor: pointer;
}

@media screen and (max-width:500px) {
    .logo-section {
        height: 20vh;
    }

    .text-animasi-logo {
        font-size: 18px;
    }

    .logo {
        width: 50px;
        height: 50px;
    }
}

/* ANIMASI LOGO */


/* PAGE FRONTEND */
.container-konten {
    background-color: #40c4ff;
    padding: 20px;
}

.container-box-konten {
    background-color: #40c4ff;
}

.container-text-title {
    display: grid;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    color: #526D82;
    background-color: #40c4ff;
}

.container-box-konten {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
    padding: 50px;
    flex-wrap: wrap;
}

.container-konten-div {
    margin: 0px auto;
    margin-left: 180px;
    text-decoration: none;
}

.container-text-box {
    color: #526D82;
    font-size: 25px;
}

div li {
    font-size: 20px;
    color: #526D82;
    text-align: left;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .container-konten-div {
        margin: 0px;
        padding: 0px;
    }

    .container-box-konten {
        display: flex;
        padding: 22px;
    }

    .container-text-box {
        font-size: 20px;
    }

    div li {
        font-size: 15px;
    }
}

/* PAGE FRONTEND */


/* TEXT BLEND DIATAS BACK COLOR */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.image-container img {
    max-width: 900%;
    max-height: 900%;
    width: auto;
    height: auto;
}

.picture-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a div {
    transition: font-size 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

a div:hover {
    color: #40c4ff;
}

.color-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.color {
    height: 722px;
    position: relative;
}

.color1 {
    background-color: #001C30;
    width: 50%;
    margin-bottom: 5px;
}

.color2 {
    background-image: url(image/welcome\ \(4\).png);
    background-size: 300%;
    object-fit: cover;
    background-position: center;
    opacity: 50%;
    width: 50%;
    margin-bottom: 5px;
}

.color3 {
    background-image: url(image/Photo.JPG);
    background-size: 300%;
    background-position: left;
    object-fit: cover;
    background-position: center;
    opacity: 50%;
    width: 50%;
}

.color4 {
    background-color: #001C30;
    width: 50%;
}

.picture-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 100px;
    font-weight: bold;
    z-index: 1;
    letter-spacing: 20px;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.picture-text:hover {
    font-weight: bold;
    color: #40c4ff;
    transition: all .5s ease-in-out;
}

@media screen and (max-width:500px) {
    .color {
        height: 200px;
    }

    .color3 {
        background-size: 900%;
    }

    .color2 {
        background-size: 385%;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        width: 100px;
    }

    .image-container img {
        max-width: 500%;
        max-height: 500%;
        width: auto;
        height: auto;
    }

    .picture-text {
        font-size: 40px;
    }

    .img-konten-container {
        margin-left: 250px;
        padding-top: 75px;
    }

    .container-image-galery-text {
        width: 200px;
        height: 200px;
    }
}

/* TEXT BLEND DIATAS BACK COLOR */


/* BOX KONTAK */
.text-media {
    margin-left: 140px;
    margin-top: 50px;
}

.text-media-sosial {
    color: #526D82;
}


.sosial-media {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.sosial-media a {
    margin-right: 10px;
}

.kontak {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 20px;
    width: 700px;
    float: right;
    margin-right: 20px;
    border-radius: 4px;
}

form {
    display: grid;
    gap: 10px;
    color: #526D82;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #40c4ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #40c4ff;
}

.sosial-media {
    display: flex;
    align-items: center;
    margin-top: 125px;
    margin-left: 150px;
    margin-bottom: 100px;
}

.sosial-media a {
    margin-right: 10px;
}

.sosial-media img {
    width: 100px;
    height: 100px;
    justify-content: center;
    float: center;
}

.logo-media-sosial {
    padding: 10px;
    margin-bottom: 150px;
}

@media screen and (max-width:500px) {
    img {
        margin-bottom: 0px;
    }

    .text-media {
        margin: 0px;
    }

    .sosial-media {
        display: flex;
        align-items: center;
        margin: 0px auto;
        margin-left: 62px;
    }

    .kontak {
        margin-right: 12px;
        width: 300px;
    }
    .logo-media-sosial {
        margin-bottom: 0px;
    }
    .text-media-sosial {
        margin-left: 45px;
    }
    .div-media-sosial {
        margin-left: 30px
    }
}

/* BOX KONTAK */
